
<%if current_user.role == "User" %>
  <h1>User Mainpage</h1>
<%end %>
<%if current_user.role == "Manager" %>
  <h1>Manager Mainpage</h1>
<%end %>
<%if current_user.role == "Admin" %>
  <h1>Admin Dachboard</h1>
  <%=link_to"View Users",proverka_index_path,:class=>'btn btn-warning' %>
  <%=link_to"Add Manager",user_registration_path,:class=>'btn btn-warning' %>
<%end %>