<p id="notice"><%= notice %></p>

<td><%= link_to 'Edit', edit_techstack_path(@tech_stack), class: 'btn btn-warning' %></td>
<td><%= link_to 'Destroy', @tech_stack, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>|
<%= link_to 'Back', profile_path,class:'btn btn-danger' %>
